---
import { ViewTransitions } from "astro:transitions";
import Header from "@components/Header.astro";
import "@fontsource/be-vietnam-pro";
import "@fontsource-variable/gabarito";
import { SITE_CONFIG } from "@config";

const { title, siteLogo, navLinks, lang } = SITE_CONFIG;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="font-sans bg-black">
    <Header siteLogo={siteLogo} navLinks={navLinks} />
    <main class="max-w-3xl px-5 mx-auto">
      <slot />
    </main>
  </body>
</html>
